<div class="sib-testimonial-block">
    <div class="sib-testimonial-block__text">
        {{ block.testimonial.one.testimonial.one.sibText }}
    </div>
    <div class="sib-testimonial-block__client">
        {{ block.testimonial.one.testimonial.one.client }}
    </div>
</div>
