{% extends "_layout" %}

{% block headerScript %}
    <script src="https://www.tripdocs.net/widget/detailbrowser.php" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h6>CAD Widget Element</h6>
    <p>There is a div element with an id = cad-widget</p>
    <div id="cad-widget"></div>
{% endblock %}
