<section class="sib-link-blocks">
    <div class="container-fluid">
        <div class="row">
            {% for item in linksBlocks.linkBlocks %}
                <div class="col-12 col-lg-4">
                    <div class="sib-link-blocks__inner">
                        <h3>{{ item.sibTitle }}</h3>
                        <div class="sib-link-blocks__text">{{  item.subtitle }}</div>

                        {% include "/partials/_hover-element" with {
                            element: "a",
                            classes: "btn btn-v2 btn-grey btn-border-thin",
                            text: item.sibLink.text,
                            link: item.sibLink.url
                        } %}

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
