<section
        class="sib-need-support"
        style="background-image:url({{ needSupport.needSupport.one.background.one ? needSupport.needSupport.one.background.one.url : '/images/haus_kieffer_01.jpg' }}")
>
    <div class="content">
        <div class="row">
            <div class="col">
                <h3>{{ needSupport.pageTitle }}</h3>
                <div class="sib-need-support__text-1">
                    {{ needSupport.needSupport.one.line1 }}
                </div>
                <div class="sib-need-support__text-2">
                    {{ needSupport.needSupport.one.line2 }}
                </div>
            </div>
        </div>
    </div>
</section>
