<div class="sib-overlay" id="compare-modal">
        <div class="sib-overlay__content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-wrap">
                            <div class="content__body compare">
                                {# {% set acces = entry.productAccessories %} #}
                                {# {% if acces is defined and acces|length %} #}
                                    <div class="content__header">
                                        <h3>Compare Features</h3><a href="#" class="sib-overlay__close sib-overlay__toggle"><span>x</span></a>
                                    </div>
                                    <div class="content__details content__compare">
                                        <div class="compare__items">
                                            compare items
                                        </div>
                                    </div>
                                {# content details
                                {% else %}
                                    <div class="content__detail">
                                        <h3>There are no comparessories for this Product.</h3>
                                    </div>
                                {% endif %} #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>